h1 {
    color: blue;
    text-align: center;
}

.newGameDiv {
      text-align: center;
      margin: 5px;
}

.gameLayout {
    display: flex;
    justify-content: space-between;
}

.playerCard {
    color: blue;
    text-align: center;
    flex-grow: 1;
    border: solid black 2px;
    margin: 5px;
    padding: 5px;

}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 600px;
    width: 600px;
    gap: 3px;
}

.gameSquare {
    background-color: gray;
    pointer-events: none;
}

.gameSquare:hover {
    background-color: rgb(196, 196, 196);
}

#replayDiv {
    display: none;
}